
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44ea9f;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d68f8f;
}

.loginInput {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.loginButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}
.container {
  width: 100wh;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  height: 90vh;
}

.section {
  width: 45%;
  background-color: #368440;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 90vh;
  overflow-y: auto;
}

.quote {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.section1 {
  width: 45%;
  background-color: #68a5db;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  height: 90vh;
  overflow-y: auto;
}

.quote1 {
  padding: 10px;
  background-color: #44ea9f;
  border-bottom: 1px solid #ccc;
}

.quoteText {
  font-size: 18px;
  margin-bottom: 5px;
}

.quoteAuthor {
  font-size: 14px;
  color: #555;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
